.NavBarSizing{
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.NavBarLogo{
    width: 50%;

}

.NavBarButtons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;  
}
