/* ---------------------------- GENERAL STYLES ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-icons {
  position: relative;
  top: 5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
  color: #8080ff;
}

/* ---------------------------- NAVBAR STYLES ---------------------------------- */

.NavBarSizing{
  width: 100%;
  height: 10%;
  background-color: #77bb3f;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.NavBarLogo{
  width: 50%;

}

.NavBarButtons{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;  
}

/* ---------------------------- APP.JS STYLES ---------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* -------------------------------- FOOTER STYLES ----------------------------------------- */

footer {
  color: white;
  background-color: #77bb3f;
}

.contact-info {
  width: 250px;
  margin: 2% auto 0;
}

footer div p {
  padding: 0.5% 2%;
}

footer p {
  margin: 0;
  line-height: 1;
  padding: 0.5%;
}

.card p {
  padding: 0.5rem 1rem;
}


/* ---------------------------- MEDIA QUERIES ---------------------------------- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
